.IdCard {
    display: flex;
    border: 1px solid black;
    margin: 10px;
}

.IdCard img{
    margin: 5px;
}


.CreditCard_wrapper {
    display: flex;
}

.CreditCard {
    width: 40vh;
    height: 20vh;
    border-radius: 1vh;
    padding: 1vh;
    margin: 1vh;
    position: relative;
}

.CreditCard img {
    width: 20%;
    position: absolute;
    top: 2vh;
    right: 2vh;

}